.App {
  text-align: center;
}

#Header {
  height: 50px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 20px;
  background-color: white;
}

#Main {
  width: 100%;
  background-color: orange;
  height: 648px;
}

#HorizontalAlign {
  background-color: orange;
  width: 1096px;
  margin: auto;
  height: 648px;
}

@media only screen and (max-width: 1096px) {
  #HorizontalAlign {
    width: 822px;
    height: 972px;
  }
  #Main {
    height: 972px;
  }
}

@media only screen and (max-width: 822px) {
  #HorizontalAlign {
    width: 548px;
    height: 1296px;
  }
  #Main {
    height: 1296px;
  }
}

@media only screen and (max-width: 548px) {
  #HorizontalAlign {
    width: 272px;
    height: 1664px;
  }
  #Main {
    height: 1664px;
  }
}