.App {
  text-align: center;
}

#Header {
  height: 50px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 20px;
  background-color: white;
}

#Main {
  width: 100%;
  background-color: orange;
  height: 640px;
}

#HorizontalAlign {
  background-color: orange;
  width: 1080px;
  margin: auto;
  height: 640px;
}

@media only screen and (max-width: 1080px) {
  #HorizontalAlign {
    width: 810px;
    height: 960px;
  }
  #Main {
    height: 960px;
  }
}

@media only screen and (max-width: 810px) {
  #HorizontalAlign {
    width: 540px;
    height: 1280px;
  }
  #Main {
    height: 1280px;
  }
}

@media only screen and (max-width: 540px) {
  #HorizontalAlign {
    width: 270px;
    height: 1600px;
  }
  #Main {
    height: 1600px;
  }
}